WORKFLOW/1. Rag pipeline And chatbot.json
{
  "name": "1. Rag pipeline And chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18nxq_8XpFd6YlI--w16MENk2fMJxa7_L",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18nxq_8XpFd6YlI--w16MENk2fMJxa7_L"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -96
      ],
      "id": "54663147-318e-4d87-aa2d-e098d72d797c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UR1kK8f0eyoetW0N",
          "name": "harshrokade95@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        -96
      ],
      "id": "6a64fc1e-1139-4627-9bf5-010d1a584d0f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UR1kK8f0eyoetW0N",
          "name": "harshrokade95@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        64,
        -96
      ],
      "id": "d086f369-9c4d-4e2d-9d21-095c7ea2216f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "iND3moMbygqcVUcN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        96
      ],
      "id": "4acfb34a-31b6-4a64-bef4-3f26f382879d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "za3nBgk1k4axvWf7",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        96
      ],
      "id": "cd4cd9c0-2674-48dc-8ed3-c987819a20c9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        288,
        304
      ],
      "id": "569ec299-9292-42cf-aa1a-b0d67993d2f8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assYou are a helpful support assistant for our company. \nYour job is to carefully read and reference the provided FAQ file. \nWhen a client asks a question:\n- First, check if the answer exists in the FAQ file.\n- If it does, provide the answer in a polite, professional, and easy-to-understand way. \n- If the exact answer is not in the FAQ, politely say: \n  \"I couldn’t find this in our FAQ. Let me connect you with a support agent for further help.\"\n- Do not invent information or give answers outside of the FAQ file.\n- Always keep your tone friendly, professional, and supportive.\nistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        752,
        -112
      ],
      "id": "3530c85b-b179-4895-8fdb-9582d5ee756c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        496,
        -112
      ],
      "id": "b6b10f63-c926-4b8d-a641-ef2996956d0f",
      "name": "When chat message received",
      "webhookId": "9758ebde-709d-4067-9ecf-e066e21addb1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        96
      ],
      "id": "6a08b6eb-1f6b-4609-af07-d78a93deb893",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "it8grkaUtmXi7VQJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "CALL THIS AGENT TO ACCESS THE POLICY AND FAQ DATABSES",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        971.4199999999998,
        -102.38124999999994
      ],
      "id": "aea33d9a-4e8a-4189-9bcc-5269048ab245",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "iND3moMbygqcVUcN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        112
      ],
      "id": "22e358d8-8b25-44b5-9e66-4902ffd2ec77",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "za3nBgk1k4axvWf7",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fec60fe5-9d19-4249-9037-e0e5f91c11c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6418d18efd8fad1510aa87bc71d77dae9194b96b534ad8ff274c2143494d1e00"
  },
  "id": "m57A4pc2SAhIZ7Gv",
  "tags": []
}